<div class="container py-5">
  <h1>Welcome to your Rails Starter App</h1>
  <p>Using this repo as starter will you enable to start coding right away.</p>
  <p>This project will provide:</p>
  <ul>
    <li><a href="https://docs.docker.com/compose/" target="_blank">Docker Compose</a> setup with .env</li>
    <li>Ruby <%= RUBY_VERSION %> via <a href="https://hub.docker.com/_/ruby" target="_blank">Official Docker Image</a></li>
    <li><a href="https://guides.rubyonrails.org/" target="_blank">Rails <%= Rails.version %></a></li>
    <li><a href="https://hub.docker.com/_/postgres" target="_blank">PostgreSQL 13</a> as Database</li>
    <li><a href="https://hub.docker.com/_/redis" target="_blank">redis</a> (and hiredis, also used for caching)</li>
    <li><a href="https://nodejs.org/en/">nodejs</a> 14</li>
    <li><a href="https://github.com/rails/webpacker" target="_blank">webpacker</a> for assets (no sprockets)</li>
    <li><a href="https://github.com/rails/webpacker#development" target="_blank">webpack-dev-server</a> with live reloading</li>
    <li><a href="https://turbo.hotwire.dev/" target="_blank">hotwire turbo</a></li>
    <li><a href="https://stimulus.hotwire.dev/" target="_blank">stimulus</a></li>
    <li><a href="https://viewcomponent.org/" target="_blank">view_component</a></li>
    <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">Bootstrap 5</a></li>
  </ul>
</div>